<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true">
    <php>
        <!-- E_ALL & ~E_DEPRECATED (24575): suppress PHP deprecation notices
             from PHPUnit 5.7's mock generator on PHP 7.4+
             (ReflectionType::__toString() is deprecated since 7.4). -->
        <ini name="error_reporting" value="24575"/>
        <ini name="display_errors" value="true"/>
        <ini name="display_startup_errors" value="true"/>
    </php>
    <testsuites>
        <testsuite name="Comfino WooCommerce plugin tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
